# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = yuncaijing.settings

[deploy]
#url = http://localhost:6800/
user=563e8be2c71d4ab5acb430896c38e875
project = 28822
